# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
.idea/

# Go build artifacts & caches
/bin/
/build/
/dist/
/tmp/
/.gocache/
*.exe
*.dll
*.so
*.dylib
*.test
*.out
*.log
profile.out
coverage.out
*.coverprofile
/coverage/
/.coverage/

# Vendor & workspace (généralement non commités)
vendor/
go.work
go.work.sum

# Env & Docker
.env
*.env
.env.*
.venv
/.venv/
